<configuration xmlns="http://moxa.org/schema/config">
    <aliasFactory type="com.moxa.dream.driver.alias.DefaultAliasFactory">
        <property name="ds" value="com.moxa.dream.test.core.MyDataSourceFactory"/>
    </aliasFactory>
    <cacheFactory type="com.moxa.dream.module.cache.DefaultCacheFactory">
<!--        <property name="enabled" value="false"/>-->
    </cacheFactory>
    <tableFactory>
        <mapping package="com.moxa.dream.test.core.table"/>
    </tableFactory>
    <mapperFactory>
        <mapping package="com.moxa.dream.test.core.mapper"/>
    </mapperFactory>
    <typeHandlerFactory type="com.moxa.dream.module.type.factory.BaseTypeHandlerFactory">
        <typeHandlerWrapper type="com.moxa.dream.test.core.MyTypeHandlerWrapper"/>
    </typeHandlerFactory>
    <dialectFactory type="com.moxa.dream.driver.factory.DefaultDialectFactory" dialect="${mysql}">
        <property name="a" value="b"/>
    </dialectFactory>
    <pluginFactory type="com.moxa.dream.driver.factory.DefaultPluginFactory">
        <interceptor type="com.moxa.dream.test.core.MyInterceptor"/>
    </pluginFactory>
    <transactionFactory type="com.moxa.dream.module.transaction.JdbcTransactionFactory">
        <property name="a" value="b"/>
    </transactionFactory>
    <dataSourceFactory type="${ds}">
        <property name="ds" value="${ds}"/>
    </dataSourceFactory>
</configuration>