<mapper xmlns="http://moxa.org/schema/mapper">
    <method name="selectUserById">
        <sql>select * from user where id=@$(id)</sql>
        <eachList>
            <each>
                <methodRef field="viewDeptList" value="com.moxa.dream.test.core.mapper.DeptMapper.selectViewDeptList"/>
                <argList>
                    <arg name="id" value="id"/>
                </argList>
            </each>
        </eachList>
    </method>
</mapper>